<div class="listing_admin">
  <div class="row">
      <div class="col-md-12"> <h2>Admin Listing</h2> </div>
  </div>
  <div class="row">
      <div class="col-md-12"> <p id="notice"><%= notice %></p> </div>
  </div>
  <div class="row">
      <div class="col-md-12"> 
      <h4><%= link_to newadmin_path, class: "changecol" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>New Admin
      <% end %>
      </h4> 
      </div>
  <div class="row">
      <div class="col-md-12 table-responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.email %></td>
        <td><%= link_to 'Edit', edit_admin_path(admin), class:"btn btn-warning btn-sm pen2" %></td>
        <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm pen2" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%= link_to 'Back', adminhome_path %>

</div>
