
<div class="loginform">
  <div class="notice alert"><%= notice %></div><br>
<%= form_tag adminsessions_path do %>
    <div class="row ff">
      <div class="col-md-12">
        <h2>Admin Log In!</h2>
        <hr class="colorgraph">
            <div class="form-group">
             <%= text_field_tag :email, "", class: "form-control input-lg", tabindex: "5", hide_label: true, placeholder: "Email Address" %>
					  </div>
					  <div class="form-group">
              <%= text_field_tag :password, "", class: "form-control input-lg", type: "password", tabindex: "5", hide_label: true, placeholder: "Password" %>
					  </div>
        <hr class="colorgraph">
			<div class="row">
			  <div class="col-md-2"></div>
			  <div class="col-xs-12 col-md-6">
				<%= submit_tag "Log In", class: "btn btn-primary btn-block btn-lg", tabindex:"6"%>
				 <div class="col-md-2"></div>
				</div>
			</div>
      </div>
    </div>
  
  <%end%>
</div>