<div class="listing_courses">
<p id="notice"><%= notice %></p>

<%= link_to "Add New Course", newcourse_path %>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Major</th>
      <th>Course num</th>
      <th>Course name</th>
      <th>Day</th>
      <th>Time</th>
      <th>Room</th>
      <th>Instructor name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.major %></td>
        <td><%= course.course_num %></td>
        <td><%= course.course_name %></td>
        <td><%= course.day %></td>
        <td><%= course.time %></td>
        <td><%= course.room %></td>
        <td><%= course.instructor_name %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back", adminhome_path %>

</div>
